/* Estilos del contenedor principal de la vista */
.container-main {
    height: 100vh;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.932);
}

/* Estilos del sizing de las 3 rows */
.rowTop,
.rowMiddle,
.rowBottom {
    width: 100%;
}

/* Estilos de la ROW del titulo */
.rowTop {
    height: 45vh;
}

/* Estilos de la ROW del boton central de START */

.rowMiddle {
    height: 40vh;
}

/* Estilos de la ROW de NORMAS */

.rowBottom {
    height: 15vh;
}

/* Estilos del link del boton */
html a {
    text-decoration: none;
    color: black;
    color: white;
}

/* Estilos div titulo */
.title {
    font-size: 60px;
}

/* Estilos div normas */
.normas {
    font-size: 20px;
}

/* Estilos boton START */
html button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: x-large;
}