/* Estilos inputs texto */
input {
    color: black !important;
    margin-top: 10px !important;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

/* Estilos del mensaje de error al introducir nombre de jugador */
.nameMessage {
    color: white;
    font-size: 9px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* Estilos */
.rowSelection {
    height: 100vh;
    justify-content: space-around;
}

/* Estilos columna del titulo de la pagina */
.colTitle {
    font-size: x-large;
    height: 20vh;
    text-align: center;
    padding-top: 20px;
}

/* Estilos columna de seleccion player 1 y 2 */
.colPlayerSel1,
.colPlayerSel2 {
    height: 32vh;
    padding-top: 12px;
    border: 1px solid white;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos boton aceptar cada name player */
.btnAceptar {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    width: 50%;
}

/* Estilos de la columna del boton Start */
.colStartBtn {
    height: 10vh;
}

/* Estilos boton START (link y btn) */
.btnStart a {
    text-decoration: none;
    color: white;
}

.btnStart {
    background-color: transparent;
    border: 1px solid white;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    visibility: hidden;
}

/* Diferentes estilos media query para pantallas mas grandes */
@media (min-width: 1600px) {

    /* Estilos titulo de la pagina */
    .colTitle {
        font-size: 75px;
    }

}

@media (min-width: 1000px) {

    /* Estilos titulo de la pagina */
    .colTitle {
        font-size: 50px;
    }

    /* Estilos labels de los inputs */
    label {
        font-size: xx-large;
        text-align: center;
    }

    /* Estilos inputs texto */
    input {
        margin-top: 0px !important;
        height: 40px;
        width: 100%;
    }

    /* Estilos columnas player 1-2 */
    .colPlayerSel1,
    .colPlayerSel2 {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    /* Estilos boton Aceptar */
    .btnAceptar {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        height: 40px;
        font-size: large;
        margin: 0;
        width: 100%;
    }

    /* Estilos boton Start */
    .btnStart {
        background-color: transparent;
        border: 1px solid white;
        height: 135px;
        font-size: 50px;
        width: 300px;
        border-radius: 10px;
    }

    .nameMessage {
        font-size: 13px;
    }

}