/* Estilos del contenedor principal de la vista */
.container-main {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.932);
}

.row-main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colPlayer1, .colPlayer2{
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}


.colBoard{
    height: 56vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.boxes{
  border: 1px solid white;
}




/* Diferentes estilos media query para pantallas mas grandes */

@media (min-width: 1600px) {

    .colPlayer1, .colPlayer2{
        height: 45vh;
    }
}
