/* Estilos del tablero. Sin bordes exteriores creando variable del borde y aplicando a cada hijo correspondiente*/

:root {
  --border: 2px solid #ffffff;
}

.boxes:nth-child(1),
.boxes:nth-child(2),
.boxes:nth-child(3) {
  border-bottom: var(--border);
}

.boxes:nth-child(7),
.boxes:nth-child(8),
.boxes:nth-child(9) {
  border-top: var(--border);
}

.boxes:nth-child(1),
.boxes:nth-child(4),
.boxes:nth-child(7) {
  border-right: var(--border);
}

.boxes:nth-child(3),
.boxes:nth-child(6),
.boxes:nth-child(9) {
  border-left: var(--border);
}

/* Estilos de la row principal */
.row-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Estilos de cada box del grid del tablero principal de juego*/
.boxes:hover {
  box-shadow: 0px 0px 5px 3px #ffffff
}

.boxes {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos de la columna de datos de los dos jugadores */
.colPlayer1,
.colPlayer2 {
  height: 19vh;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Estilos de la columna del juego (GRID) */
.colBoard {
  height: 45vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
}

/* Estilos col de abajo HOME y RESET */
.btnBottom {
  display: flex;
  justify-content: space-evenly;
}

/* Estilos botones de abajo HOME y RESET */
.btnBottom button {
  background-color: transparent;
  border: 1px solid white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
}

/* Diferentes estilos media query para pantallas mas grandes */

@media (min-width: 1600px) {

  .colPlayer1,
  .colPlayer2 {
    height: 30vh;
  }

  .colPlayer1,
  .colPlayer2 {
    font-size: x-large
  }

  .boxes {
    font-size: 110px;
  }

  /* Estilos de la columna del juego (GRID) */
  .colBoard {
    height: 70vh;
  }

  .btnBottom button {
    height: 70px;
    width: 200px;
    font-size: x-large;
  }
}