/* Carga de fuente externa propia */
@font-face {
    font-family: 'AlloyInk';
    src: url('../fonts/aAlloyInk.ttf') format('truetype');
}

/* Aplicacion de fuente importada a todo el documento */
html * {
    font-family: 'AlloyInk';
    color: white;
}

/* Estilo hover botones */
button:hover {
    box-shadow: inset -2px 5px 10px  grey;
        
    }